/*field.css('border', '1px solid black');*/
/*field.css('background', '#ccf');*/
/*field.width(width);*/
/*field.height(height);*/
* {
  box-sizing: border-box;
}
#title {
    text-align: center;
}

#wrapper {
    border: solid black 1px;
    background-color: #CCF;
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tile-container {
    border: solid black 1px;
    width: 33%;
    height: 33%;
    margin: 0;
    color: white;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile {
    background-image: url('http://source.unsplash.com/random/150x150');

    width: 95%;
    height: 95%;
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
//
/*.fill{*/
/*  display: block;*/
/*}*/
.hold {
    border: solid #ccc 30px;
}

.hovered {
    background: #F4F4F4;
    border-style: dashed;
}

.invisible {
    display: none;
}